<h2><%= @artist.name %></h2><hr>

<img src="<%= @artist.image %>">

<p>Gender: <%= @artist.gender.capitalize %></p>
<p>Year of Birth: <%= @artist.birth_day %></p>
<p>Year of Death: <%= @artist.death_day %></p>
<p>Hometown: <%= @artist.hometown %></p>
<p>Location: <%= @artist.location %></p>
<p>Nationality: <%= @artist.nationality %></p>
<p><%= @artist.biography %></p> <hr>


<%= link_to 'Artworks by this Artist', artist_artworks_path(@artist) %>
<%= link_to 'All Artists', artists_path %><hr>
