
<% @artworks.each do |artwork| %>
  <%= link_to artist_artwork_path(artwork.artist_id, artwork.id) do %>
    <div class="card">
      <h4><%= artwork.title %></h4>
      <h2><%= artwork.medium %>  </h2>
      <img src="<%= artwork.image %>">
    <% end %>
    </div>
  <br>
<% end %>


<%= link_to 'All Artworks', mega_index_artworks_path %><hr>
