<h2><%= @artwork.title %></h2><hr>
<h3><%= @artwork.artist.name %> </h3>

<img src="<%= @artwork.image %>">
<p>Image Rights: <%= @artwork.image_rights %></p> <hr>

<p>Category: <%= @artwork.category %></p>
<p>Medium: <%= @artwork.medium %></p>
<p>Year(s) of Creation: <%= @artwork.published_date %></p><hr>
<p>Collecting Institution: <%= @artwork.collecting_institution %></p><hr>

<%= link_to 'All Artworks', mega_index_artworks_path %><hr>
<%= link_to 'Check out the Artist', artist_path(@artwork.artist_id) %><hr>
