<% provide(:title, 'Sign up') %>
<br>
<div id="login-container">
      <div id="login-message">Sign up</div>
      <%= form_for(@user, url: signup_path) do |f| %>
        <%# render 'shared/error_messages' %>

       <% f.label :name  %>
        <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
<br>
         <% f.label :email  %>
        <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
<br>
        <% f.label :password  %>
        <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
        
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirm your Password' %>
<br>
        <%= f.submit "Create my account", class: "login-button" %>
      <% end %>

</div>
